@model DB_Project.Models.Book

<div>

    <form id="myForm">

        @Html.HiddenFor(model => model.BookID)

        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Title" })

        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "Price" })

        <a href="#" id="btnSubmit" class="btn btn-success btn-block">
            @if (Model.BookID > 0)
            {<span>Update</span> }
            else
            {<span>Save</span>}
    </a>

    </form>

    <div style="text-align:center;display:none" id="loaderDiv">
        <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
    </div>

</div>


<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            $("#loaderDiv").show();

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Admin/EditPrice",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/Admin/Console";

                }

            })
        })
    })


</script>

