@model DB_Project.Models.Account

<div>
    <div class="card rounded px-5 py-2">
        <div class="card-body">
            <p>UserID : @Model.UserID</p>
            <p>Name : @Model.Username </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
    </div>
</div>
