
<div>
    <div class="card rounded px-5 py-2">
        <div class="card-body">
            <form action="ChangePassword" class="form needs-validation" role="form" autocomplete="off" method="post">

                <div class="form-group">
                    <label for="psw">Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" minlength="8" maxlength="16" id="psw" name="Password" required>
                    <div class="invalid-feedback">Password Length must be between 8 and 16 characters</div>
                </div>

                <div class="form-group">
                    <label for="psw-repeat">Repeat Password</label>
                    <input type="password" class="form-control" placeholder="Repeat Password" id="psw-repeat" name="psw-repeat" required>
                    <div class="invalid-feedback">Do not match</div>
                </div>

            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    var password = document.getElementById("psw")
        , confirm_password = document.getElementById("psw-repeat");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>