
@{
    ViewBag.Title = "DashBoard";
}

@model string

@section CustomHeader{
    <nav class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">BookStore</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <p class="navbar-text"> Welcome, @Model </p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Logout </a>
            </li>
        </ul>
    </nav>
}


<div class="py-5">
    <h2>My DashBoard</h2>
</div>

