@{
    ViewBag.Title = "Home Page";
}

@section CustomHeader{
    <nav class="navbar navbar-expand-sm fixed-top bg-light">

        <a class="navbar-brand" href="#">BookStore</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")"> Home </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Login", "Account")"> Login </a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="@Url.Action("Signup", "Account")"> SignUp </a>
            </li>
        </ul>
    </nav>
}

@section HomePageView{
    <div id="homepage-img-1">
        <div class="container p-5">
            <div class="row py-5">
                <div class="col-4 ">
                    <h2>A Place where you can find all your Books</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="homepage-img-2">
    </div>
}
