
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/SignUp.css">
</head>
<body>
    <div>
        <h1>This is the Sign Up page.</h1>
        <p>* are the required fields</p>
    </div>

    <div class="modal-dialog text-center">
        <div class="col-sm-12">
            <div class="modal-content">
                <form class="col-12">
                    <div class="form-group">
                        @*<label for="email"><b>Email*</b></label>*@
                        <input type="email" placeholder="Enter Email" name="email" required>
                    </div>

                    <div class="form-group">
                        @*<label for="psw"><b>Password*</b></label>*@
                        <input type="password" placeholder="Enter Password" onchange="psw_checkLength()" id="psw" name="psw" required>
                    </div>

                    <div class="form-group">
                        @*<label for="psw-repeat"><b>Repeat Password*</b></label>*@
                        <input type="password" placeholder="Repeat Password" onchange="psw_match()" id="psw-repeat" name="psw-repeat" required>
                    </div>

                    <div class="form-group">
                        @*<label for="usrname"><b>UserName*</b></label>*@
                        <input type="text" placeholder="Username" name="usrname" required>
                    </div>

                    <div class="form-group">
                        @*<label for="cno"><b>Contact No.</b></label>*@
                        <input type="text" placeholder="Contact No." onchange="cno_checkLength()" id="cno" name="cno" required>
                    </div>

                    <div class="form-group">
                        @*<label for="address"><b>Address</b></label>*@
                        <input type="text" placeholder="Address" name="address" required>
                    </div>

                    <div>
                        <label for="gendergroup"><b>Gender*</b></label>
                        <input type="radio" name="gendergroup">Male
                        <input type="radio" name="gendergroup">Female
                    </div>
                </form>

                <div class="clearfix">
                    <button type="submit" class="btn signupbtn">Sign Up</button>
                    <button type="button" class="btn cancelbtn">Cancel</button>
                </div>

            </div>
        </div>
    </div>  
        
</body>

<script src="../../Content/jquery.min.js"></script>
<script type="text/javascript">

    function psw_checkLength() {
        var pswValue = $("#psw").val();
        if (pswValue.length < 8 || pswValue.length > 16) {
            alert("Length of Password must meet the requirement.");
        }
    }

    function psw_match() {
        var pswValue1 = $("#psw").val();
        var pswValue2 = $("#psw-repeat").val();
        if (pswValue1 != pswValue2) {
            alert("Must match both password");
        }
    }

    function cno_checkLength() {
        var cnoValue = $("#psw").val();
        if (cnoValue.length != 13)	//Format used +92 000 0000000
        {
            alert("Incorrect Contact Num");
        }
    }

</script>


